<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="login">
            <a href="#" id="login_button">Log in</a>
            <div id="login_form">
                <form method="POST" action="/">
                    <label>Username: </label>
                    <input type="text" name="username" /><br>
                    <label>Password: </label>
                    <input type="password" name="password"/><br>
                    <button>Log in</button>
                    <hr>
                    <p>Not a user yet? <a href="/register" style="color:greenyellow;">Register</a> and log in.</p>
                </form>
            </div>
        </div>
        <header>
            <p>THE NATIONAL PARKS OF JOY</p>
        </header>
        <div class="flex-container">
            <div class="wrapper">
                <div class="main">
                    <h3>THE MIRACLE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin nibh sit amet commodo nulla. Quisque egestas diam in arcu cursus. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Gravida dictum fusce ut placerat orci nulla. Consequat interdum varius sit amet mattis. Non consectetur a erat nam. Velit ut tortor pretium viverra. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Et leo duis ut diam quam nulla porttitor massa id. Interdum velit euismod in pellentesque massa placerat duis. Justo laoreet sit amet cursus sit amet dictum sit amet. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Gravida neque convallis a cras. Ut etiam sit amet nisl purus in. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc.</p>
                    <h3>THE STORY</h3>
                    <p>Molestie a iaculis at erat pellentesque adipiscing commodo elit. Ornare arcu dui vivamus arcu. Elementum curabitur vitae nunc sed velit dignissim. Feugiat nibh sed pulvinar proin. Sed faucibus turpis in eu mi bibendum neque egestas. Commodo quis imperdiet massa tincidunt nunc pulvinar. Amet consectetur adipiscing elit ut aliquam purus sit amet. Vitae auctor eu augue ut. Amet tellus cras adipiscing enim eu turpis. Egestas diam in arcu cursus euismod. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Morbi non arcu risus quis varius. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Nibh cras pulvinar mattis nunc sed. Quam pellentesque nec nam aliquam sem et tortor. Vel pharetra vel turpis nunc eget. Viverra vitae congue eu consequat ac felis. Quisque egestas diam in arcu cursus. Et molestie ac feugiat sed lectus.</p>
                    <h3>BLOG ARTICLES</h3>
                </div>
                <div class="blogs">
                    <% for(let i in blogs){ %>
                        <div class="article">
                            <a href="/blog">
                                <img src="../images/<%= blogs[i].image %>" style="width: 100%;"/>
                                <p><%= blogs[i].title %></p>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <footer>
                <p>&copy; National parks 2019</p>
        </footer>
    </body>
    <script>
        function login(){
            const form = document.getElementById("login_form");
            form.style.display = "block";
        }
        document.getElementById("login_button").onclick = login;
    </script>
</html>