body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/1.jpg');
    background-size: cover;
    background-position: 0px -150px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 60px;
    border-bottom: 45px solid rgb(51, 101, 125);
}
header > p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    background-color: rgba(51, 101, 125, 0.6);
    padding: 0px 15px 0px 15px;
    
}
header > a {
    color: white;
}
#login {
    text-align: right;
    position: absolute;
    right: 0;
    margin: 15px;
}
#login_form {
    display: none;
    color: #fff;
    background-color: rgb(53, 95, 30);
    width: 255px;
    text-align: right;
    padding: 15px;
    box-shadow: #111 5px 5px 10px
}
#login_button:hover {
    color: #fff;
}
a {
    color: black;
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 1.2em
}
.wrapper {
    width: 85%;
}
@media screen and (min-width: 1600px){
    .wrapper {
        width: 50%;
    }
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main img {
    width: 100%;
    margin: 25px;
}
.blogs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article {
    background-color: rgb(53, 95, 30);
    width: 30%;
    padding-bottom: 15px;
    margin: 10px;
    text-align: center;
}
.article:hover {
    animation-name: bounce;
    animation-duration: 0.5s;
}
.article a {
    color: #fff;
    text-decoration: none;
}
.article p {
    margin: 0;
    padding-top: 5px;
}
.comments {
    margin: 40px 0px 100px 0px;
    width: 100%;
}
.chat {
    border: solid rgb(158, 158, 158) 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    margin-bottom: 50px;
    max-height: 400px;
    overflow: auto;
    width: 100%;
}
#register {
    margin-bottom: 50px;
}
footer {
    background-color:rgb(53, 95, 30);
    color: #fff;
    height: 65px;
    text-align: left;
    padding: 25px;
    margin-top: 100px;
}
form {
    max-width: 300px;
    text-align: left;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-display: uppercase;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    min-height: 30px;
    max-height: 50px;
}
input {
    margin-bottom: 15px;
    width: 100%;
}
span {
    font-size: 1.4em;
}
a#back_link:hover {
    animation-name: nudge;
    animation-duration: 1s;
}

@keyframes bounce {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.02);
        box-shadow: #999 5px 10px 10px;
    }    
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

@keyframes nudge {
    0% {
        margin-left:5%;
    }
    20% {
        margin-left:4%;
    }
    100% {
        margin-left:5%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}